<!--страница - заявка на заказ-->
{% extends 'base.html' %}
{% block container %}

<main>
    <div class="container">

        <!--возврат к странице выбора услуги - начало-->
        {#<a
            href="{{ url_for('render_uslugi_link', punkt_menu=card_usluga.usluga.punkt_menu.link, category=card_usluga.usluga.link) }}">
        <div>
            Вернуться к выбору услуги
        </div>
    </a>#}
        <!--возврат к странице выбора услуги - конец-->

        <h5 class="base_color_1">
            {% if current_user.is_authenticated %}
            {% if current_user.user_first_name %}
            {{ current_user.user_first_name }}!
            {% else %}
            {{ current_user }}!
            {% endif %}
            {% endif %}
        </h5>
        <div>
            Ваша корзина:
        </div>


        <div class="row">

            <!--            Все заказы в корзине-начало-->
            <div class="col-10">

                {% for number in range(orders|length) %}
                <div class="border border-success my-2">
                    <!--<h6 class="pt-1">Параметры заказа</h6>-->


                    <div class="row p-2">
                        <div class="col-12 pb-3">
                        {% if orders[number]['card_usluga'].arhive==True or orders[number]['card_usluga'].active ==
                            False %}
                            <small>
                            <div class="alert alert-success" role="alert">
                                <strong class="alert-heading">Поздравляем!</strong>
                                <br>
                                Вы успели сделать заказ услуги и можете
                            продолжить оформление заказа по данной цене и параметрам.
                                <br>
                            Далее данная услуга не будет предоставляться или
                            условия ее предоставления изменятся.
                                <br>Если вы удалите заказ из корзины то данное предложение
                            услуги и цены будут не актуальны.
                            </div>
                        </small>
                        {% endif %}
                            </div>

                        <!-- Ссылка на стр. карточки услуги по клику на фото- начало-->
                        <a href="{{ url_for('render_uslugi_link',
                        punkt_menu=orders[number]['card_usluga'].usluga.punkt_menu.link,
                        category=orders[number]['card_usluga'].usluga.link) }}">
                            <!--Изображения карточки услуг - начало-->
                            <div class="col-3">
                                {% if orders[number]['card_usluga'].photos %}

                                <!--Карусель car - начало-->
                                <!--https://bootsnipp.com/snippets/NjR9z-->
                                <!--https://romanchueshov.ru/bootstrap-verstka/bootstrap-karusel-sozdaem-krasivyj-slajder.html-->
                                <!--https://itchief.ru/bootstrap/carousel#karusel-s-animaciey-poyavleniya-bootstrap-4-->
                                <!--https://bootstrap-4.ru/docs/4.0/components/carousel/-->
                                <!--https://bootstrap-4.ru/docs/4.1/components/carousel/#options-->
                                <!--class="w-100" позволяет сделать карусель, задуманную как на всю ширину (контейнер флюид) -->
                                <!--сделать ее без отступов с права и слева ПОЧЕМУ ТО этот метод НЕ РАБОТАЕТ ТЕПЕРЬ ИСКАТЬ ПРИЧИНУ!!!-->
                                <!--В противном случае есть небольшие отступы справа и слева-->

                                <div id="{{ orders[number]['card_usluga'].id }}"
                                     data-interval="2400"
                                     class="carousel slide container-fluid mb-2 p-0 w-100"
                                     data-ride="carousel"
                                     data-wrap="true">
                                    <!--class="carousel-indicators" создает внизу слайда индикаторы, -->
                                    <!--показывающие количество слайдов-->
                                    <!--и на каком мы находимся-->
                                    <!--Индикаторы по умолчанию прямоугольныею Сделали их круглыми переопределив их в my.css-->
                                    <ul class="carousel-indicators">
                                        <li data-target="#{{ orders[number]['card_usluga'].id  }}" data-slide-to=0
                                            class="active"></li>
                                        {% for j in range(1, orders[number]['card_usluga'].photos|length) %}
                                        <li data-target="#{{ orders[number]['card_usluga'].id }}" data-slide-to=j></li>
                                        {% endfor %}
                                    </ul>
                                    <div class="carousel-inner w-100" role="listbox">
                                        <!--Класс active указывать обязательно иначе не будет видно
                                        он указывает с какого слайда начинается слайд-шоу-->
                                        <div class="carousel-item active">
                                            <!--Классы d-none - скрыто на всех размерах экрана
                                            d-block - показывать на всех размерах экрана
                                            d-md-block - показывать на размере md
                                            d-lg-none -  скрыто на размере экрана lg  и тд и тп-->

                                            <img class="img d-none d-md-block w-100"
                                                 src="/static/images/cards_uslugs/{{ orders[number]['card_usluga'].usluga.punkt_menu.link }}/{{ orders[number]['card_usluga'].usluga.link }}/{{ orders[number]['card_usluga'].dir_photos }}/{{ orders[number]['card_usluga'].photos[0].secure_name_photo }}"
                                                 alt="Название изображения"
                                                 width=""
                                                 height="">
                                            <!--<div class="carousel-caption">-->
                                            <!--<h1 class="text-center text-success">-->
                                            <!--{{ orders[number]['card_usluga'].photos[0].title }}-->
                                            <!--</h1>-->
                                            <!--<h5 class="text-center text-success">-->
                                            <!--{{ orders[number]['card_usluga'].photos[0].comments }}-->
                                            <!--</h5>-->
                                            <!--</div>-->
                                            <div class="pt-2">
                                                <h5 class="text-center base_color_1">
                                                    {{ orders[number]['card_usluga'].photos[0].title }}
                                                </h5>
                                                <div class="px-0 text-center">
                                                    {{ orders[number]['card_usluga'].photos[0].comments }}
                                                </div>
                                            </div>
                                        </div>

                                        {% for j in range(1, orders[number]['card_usluga'].photos|length) %}
                                        <div class="carousel-item">
                                            <img class="img d-none d-md-block w-100"
                                                 src="/static/images/cards_uslugs/{{ orders[number]['card_usluga'].usluga.punkt_menu.link }}/{{ orders[number]['card_usluga'].usluga.link }}/{{ orders[number]['card_usluga'].dir_photos }}/{{ orders[number]['card_usluga'].photos[j].secure_name_photo }}"
                                                 alt="слайд {{ j }}"
                                                 width=""
                                                 height="">
                                            <!--<div class="carousel-caption">-->
                                            <!--<h1 class="text-center text-success">-->
                                            <!--{{ orders[number]['card_usluga'].photos[j].title }}-->
                                            <!--</h1>-->
                                            <!--<h5 class="text-center text-success">-->
                                            <!--{{ orders[number]['card_usluga'].photos[j].comments }}-->
                                            <!--</h5>-->
                                            <!--</div>-->
                                            <div class="pt-2">
                                                <h5 class="text-center base_color_1">
                                                    {{ orders[number]['card_usluga'].photos[j].title }}
                                                </h5>
                                                <div class="text-center">
                                                    {{ orders[number]['card_usluga'].photos[j].comments }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                    <!--Элементы управления - начало -->
                                    <!--<a class="carousel-control-prev" href="#{{ orders[number]['card_usluga'].id }}" role="button" data-slide="prev">-->
                                    <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only text-success">Предыдущий</span>-->
                                    <!--</a>-->
                                    <!--<a class="carousel-control-next" href="#{{ orders[number]['card_usluga'].id }}" role="button" data-slide="next">-->
                                    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only text-success">Следующий</span>-->
                                    <!--</a>-->
                                    <!--Элементы управления - конец -->

                                    <!--Элементы управления - начало -->
                                    <a class="left carousel-control" href="#{{ orders[number]['card_usluga'].id }}"
                                       role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only text-success">Предыдущий</span>
                                    </a>
                                    <a class="right carousel-control" href="#{{ orders[number]['card_usluga'].id }}"
                                       role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only text-success">Следующий</span>
                                    </a>
                                    <!--Элементы управления - конец -->


                                </div>
                                <!--Карусель car  - конец-->
                                {% endif %}

                            </div>
                            <!--Изображения карточки услуг (в виде карусели) - конец-->
                        </a>
                        <!--Ссылка на стр. карточки услуги по клику на фото- конец-->

                        <!--Параметры заказа-начало-->
                        <div class="col-3">
                            <!--Использую тег small для уменьшения шрифта-->
                            <!--https://getbootstrap.ru/docs/v4-alpha/content/typography/-->
                            <small>

                                <!-- Раздел-начало-->
                                <div class="row pb-1">
                                    <div class="col-5 base_color_1">
                                        <b>Раздел:</b>
                                    </div>
                                    <div class="col-7">
                                        {{ orders[number]['card_usluga'].usluga.punkt_menu.title }}
                                    </div>
                                </div>
                                <!-- Раздел-конец-->

                                <!-- Услуга раздела-начало-->
                                <div class="row  pb-1">
                                    <div class="col-5 base_color_1">
                                        <b>Услуга:</b>
                                    </div>
                                    <div class="col-7">
                                        {{ orders[number]['card_usluga'].usluga.title }}
                                    </div>
                                </div>
                                <!--Услуга раздела-конец-->

                                <!-- Наименование карточки услуги-начало-->
                                <div class="row pb-1">
                                    <div class="col-5 base_color_1">
                                        <b>Карточка:</b>
                                        {% if orders[number]['card_usluga_arhive']==True %}
                                        <div class="inline text-danger"> (карточка в архиве)</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-7">
                                        {{ orders[number]['card_usluga'].name_card_usluga }}
                                    </div>
                                </div>
                                <!--Наименование карточки услуги-конец-->

                                <!--Наименование прайса-начало-->
                                <div class="row pb-1">
                                    <div class="col-5 base_color_1">
                                        <b>Прайс:</b>
                                        {% if orders[number]['price_arhive']==True %}
                                        <div class="inline text-danger"> (прайс в архиве)</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-7">
                                        {{ orders[number]['price'].name_price_table }}
                                    </div>
                                </div>
                                <!--Наименование прайса-конец-->

                                <!--Размерность по горизонтали - начало-->
                                <div class="row pb-1">
                                    <div class="col-5 base_color_1">
                                        <b>{{ orders[number]['price'].value_table[0][0] }}</b>
                                    </div>
                                    <div class="col-7">
                                        {{ orders[number]['price'].value_table[0][orders[number]['j']] }}
                                    </div>
                                </div>
                                <!--Размерность по горизонтали - конец-->
                            </small>
                        </div>
                        <!--Параметры заказа-конец-->

                        <!--Значение ячейки прайса-начало-->
                        <div class="col-1">
                            <div class="base_color_1">
                                <b>{{ orders[number]['price'].value_table[orders[number]['i']][0] }}</b>
                                <b>{#{{ orders[number]['price'].value_table[orders[number]['i']][0] }}#}</b>
                            </div>
                            <div>
                                {{ orders[number]['price'].value_table[orders[number]['i']][orders[number]['j']] }}
                            </div>
                        </div>
                        <!--Значение ячейки прайса-конец-->

                        <!--Количество-начало-->
                        <div class="col-2">
                            <div class="base_color_1">
                                <b>Кол-во</b>
                            </div>

                            <div>
                                <!--Функция  уменьшения количества - начало-->
                                {% if orders[number]['order_sum']!=-1  %}
                                {%  if orders[number]['card_usluga'].arhive == False and orders[number]['card_usluga'].active == True %}


                                <a href="">
                                    <!--Значок - для уменьшения количества - начало-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         fill="currentColor"
                                         class="bi bi-dash-circle"
                                         viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                    <!--Значок - для уменьшения количества - конец-->
                                </a>

                                {% endif %}
                                {% endif %}
                                <!--Функция  уменьшения количества - конец-->

                                &nbsp
                                {{ orders[number]['sum'] }}
                                &nbsp

                                <!--Функция  увеличения количества - начало-->
                                 {% if orders[number]['order_sum']!=-1  %}
                                {%  if orders[number]['card_usluga'].arhive == False and orders[number]['card_usluga'].active == True %}



                                <a href="">
                                    <!--Значок + для увеличения количества - начало-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         fill="currentColor"
                                         class="bi bi-plus-circle"
                                         viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    <!--Значок + для увеличения количества - конец-->
                                </a>
                                {% endif %}
                                {% endif %}
                                <!--Функция  увеличения количества - конец-->

                            </div>

                        </div>
                        <!--Количество-конец-->

                        <!--Итого-начало-->
                        <div class="col-1">
                            <div class="base_color_1">
                                <b>Итого</b>
                            </div>
                            {% if orders[number]['order_sum']==-1 %}
                            <div>
                                {{ orders[number]['price'].value_table[orders[number]['i']][orders[number]['j']] }}
                            </div>
                            {% else %}
                            <div>{{ orders[number]['order_sum'] }}
                            </div>
                            {% endif %}
                        </div>
                        <!--Итого-конец-->

                        <!--Удалить из корзины-начало-->
                        <div class="col-1">
                            <div class="base_color_1 text-center">
                                <b>Удалить{{ i }}</b>
                            </div>
                            <div class="base_color_1 text-center">
                                <a href="{{ url_for('order_bp.delete_from_cart',
                                                number=number) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-trash3-fill"
                                         viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <!--                        Удалить из корзины-конец-->

                    </div>

                </div>

                {% endfor %}

            </div>
            <!--            Все заказы в корзине-конец-->

            <!--Оформление заказа-начало-->
            <div class="col-2">
                <!--            Сделала правую клдлеку липкой (работает в пределах родительского элмента)-->
                <!--            У нас-<div class="row">-->
                <!--            https://bootstrap-4.ru/docs/5.2/helpers/position/-->
                <div class="sticky-top pt-5">
                    <!--                <div class="fixed-bottom">-->
                    <div>
                        Итого
                    </div>
                    <div>
                        <a class="btn btn-success container-fluid"
                           href="">
                            Оформить заказ
                        </a>
                    </div>
                </div>
            </div>
            <!--Оформление заказа-конец-->

        </div>

    </div>

    </div>
</main>


{% endblock %}

