<!--страница - заявка на заказ-->
{% extends 'base.html' %}
{% block container %}

<main>
    <div class="container">

    <!--возврат к странице выбора услуги - начало-->
        <a href="{{ url_for('render_uslugi_link', punkt_menu=card_usluga.usluga.punkt_menu.link, category=card_usluga.usluga.link) }}">
            <div>
                Вернуться к выбору услуги
            </div>
        </a>
    <!--возврат к странице выбора услуги - конец-->

        <div class="row pt-3">

            <div class="col-6">
<!--                <div>-->
<!--                    session.get('count', 0) {{ session.get('count', 0) }}-->
<!--                </div>-->
<!--                <div>-->
<!--                    session.get("card_usluga_add_to_cart", False) {{ session.get('card_usluga_add_to_cart', False) }}-->
<!--                </div>-->
                <div class="px-3 border border-success">

                    {% if current_user.is_authenticated %}
                    <h5 class="base_color_1 pt-3">
                        {% if current_user.user_first_name %}
                            {{ current_user.user_first_name }}!
                        {% else %}
                            {{ current_user }}!
                        {% endif %}
                    </h5>
                    {% endif %}

                    <h5 class="pt-3 base_color_1">Вы выбрали для заказа следующую услугу:</h5>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            <b>Раздел:</b>
                        </div>
                        <div class="col-7">
                            {{ card_usluga.usluga.punkt_menu.title }}

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <b>
                                Услуга раздела:
                            </b>
                        </div>
                        <div class="col-7">
                            {{ card_usluga.usluga }}

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <b>Наименование карточки услуги</b>
                        </div>
                        <div class="col-7">
                            {{ card_usluga.name_card_usluga }}

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-5">
                            <b>Наименование прайса:</b>
                        </div>
                        <div class="col-7"> {{ price.name_price_table }}</div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-5">
                            <h5 class="base_color_1"> Параметры заказа:</h5>
                        </div>
                        <div class="col-7">
                            <div>
                                {{ price.value_table[0][0] }} - {{ price.value_table[0][j] }}
                            </div>
                            <div>
                                {{ price.value_table[i][0] }}
                            </div>
                            <div>
                                <b>Цена: {{ price.value_table[i][j] }}</b>
                            </div>


                            {% if order_request_sum!=-1 %}
                            <h6 class="pt-4 pb-2">
                                Изменить количество
                            </h6>
                            <div>
                                <!--Функция  уменьшения количества - начало-->
                                    <a href="{{ url_for('order_bp.order_request_sum_minus',
                                                card_usluga_id=card_usluga.id,
                                                price_id=price.id,
                                                i=i,
                                                j=j) }}">

                                    <!--Значок - для уменьшения количества - начало-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="26"
                                         height="26"
                                         fill="currentColor"
                                         class="bi bi-dash-circle"
                                         viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                    <!--Значок - для уменьшения количества - конец-->
                                </a>
                                <!--Функция  уменьшения количества - конец-->

                                <!--Количество выбранной услуги - начало-->
                                <b> &nbsp;&nbsp;&nbsp;&nbsp;{{ session.get('count', 1) }} &nbsp;&nbsp;&nbsp; </b>
                                <!--Количество выбранной услуги - конец-->

                                <!--Функция  увеличения количества - начало-->
                                    <a href="{{ url_for('order_bp.order_request_sum_plus',
                                                card_usluga_id=card_usluga.id,
                                                price_id=price.id,
                                                i=i,
                                                j=j) }}">
                                    <!--Значок + для увеличения количества - начало-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="26"
                                         height="26"
                                         fill="currentColor"
                                         class="bi bi-plus-circle"
                                         viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    <!--Значок + для увеличения количества - конец-->
                                </a>
                                <!--Функция  увеличения количества - конец-->

                            </div>

                            {% endif %}

                        </div>
                    </div>


                    <div class="row pt-4">
                        <div class="col-5">
                            <h5 class="base_color_1">
                                Итого:
                            </h5>
                        </div>
                        {% if order_request_sum !=-1 %}
                        <div class="col-7">
                            <h5>{{ order_request_sum }} руб.</h5>
                        </div>

                        {% else %}
                        <div class="col-7">
                            <h5>{{ price.value_table[i][j] }}</h5>
                        </div>
                        {% endif %}

                    </div>

                    <div class="row pt-3 my-3">
                        <div class="col-5">
                            <div>
                                Добавьте комментарии:
                            </div>
                        </div>
                        <div class="col-7">
                            <div>
                                <input type="text">
                            </div>
                        </div>
                    </div>


                    <div class="row pt-3 my-3">
                        <div class="col-12">
                            {% if session.get('order_request_add_to_cart') %}
                            <h6 class="text-center base_color_1">
                                Услуга добавлена в корзину.
                            </h6>
                            <div>
                                <a class="btn btn-success container-fluid"
                                   href="{{ url_for('order_bp.cart')}}">
                                    Перейти в корзину
                                </a>
                            </div>

                            {% else %}
                            <div>
                                <a class="btn btn-success container-fluid"
                                   href="{{ url_for('order_bp.order_request_add_to_cart',
                                       card_usluga_id=card_usluga.id,
                                       price_id=price.id,
                                       i=i,
                                       j=j) }}">
                                    Добавить в корзину
                                </a>
                            </div>

                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6">
                Добавить еще что-то
            </div>


        </div>

    </div>
</main>


{% endblock %}




<!--иконка кнопки из Бутстрап библиотеки - начало -->
<!--<a>-->
<!--<svg xmlns="http://www.w3.org/2000/svg"-->
<!--width="40" height="40" fill="currentColor"-->
<!--class="bi bi-toggle-on" viewBox="0 0 16 16">-->
<!--<path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>-->
<!--</svg>-->
<!--</a>-->
<!--иконка кнопки из Бутстрап библиотеки - конец-->

