<!--страница - заявка на заказ-->
{% extends 'base.html' %}
{% block container %}
<main>
    <div class="container">

        <!--Для чего класс form-signin - не помню!!! поэтому не использую-->
        <!--<form class="form-signin pt-1" action="" method="POST">-->
        <form action="" method="POST">
            {{ form.csrf_token }}

            <h5 class="pt-2">Оформление заказа</h5>
            {% if current_user.is_authenticated %}
                    <div class="text-muted pt-3">
                        <!--<h5 class="font-weight-normal">Для уточнения деталей заказа заполните данные</h5>-->
                        <!--<h4 class="font-weight-light">-->
                        {% if current_user.user_first_name %}
                        {{ current_user.user_first_name }}!
                        {% endif %}
                        <!--</h4>-->
                    </div>
                    {% endif %}

                    <!--класс бутстреп text-muted делает текст более бледным чем черный (серым)-->
                    <div class="text-muted">
                        <!--<h5 class="h3 mb-3 font-weight-normal">Для уточнения деталей заказа заполните данные</h5>-->
                        <!--<h4 class="mb-3 font-weight-light">-->
                        Для уточнения деталей заказа укажите ваши контактные данные:
                        <!--</h4>-->
                    </div>

            <!--Страница оформления заказа - вариант 1 - начало-->
            <div class="row">
                <div class="col-6">

                    <!--Заголовок Контактные данные - начало-->
                    <h6 class="pt-3">1. Контактные данные:</h6>
                    <!--Заголовок Контактные данные - начало-->

                    <!--Контактные данные - начало-->
                    <!--Телефон, email - начало-->
                    <div class="row">
                        <!--email - начало-->
                        <div class="col-6 pr-2">
                            <!--email - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.email.errors %}
                                {% for err in form.email.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--email - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--email - само поле начало-->
                            <div class="pt-2">
                                {% if current_user.email %}
                                <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                                {{ form.email(class="form-control", value=current_user.email) }}
                                {% else %}
                                {{ form.user_middle_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <!--email - само поле конец-->
                        </div>
                        <!--email - конец-->

                        <!--Телефон - начало-->
                        <div class="col-6 pl-2">
                            <!--Телефон - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.user_phone.errors %}
                                {% for err in form.user_phone.errors %}
                                <p class="error alert alert-warning" role="alert">
                                    {{ err }}
                                </p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Телефон - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Телефон - само поле начало-->
                            <div class="pt-2">
                                <!--класс бутстреп text-muted делает текст более бледным чем черный (серым)-->
                                <!--                                    {{ form.user_phone.label(class="text-muted control-label") }}-->
                                {{ form.user_phone(class="form-control") }}
                            </div>
                            <!--Телефон - само поле конец-->
                        </div>
                        <!--Телефон - конец-->
                    </div>
                    <!--Телефон, email - конец-->

                    <!--ФИО - начало-->
                    <div class="row">
                        <!--Фамилия - начало-->
                        <div class="col-12">
                            <!--Фамилия - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.user_last_name.errors %}
                                {% for err in form.user_last_name.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Фамилия - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Фамилия - само поле начало-->
                            <div class="pt-2">
                                {% if current_user.user_last_name %}
                                <!--{{ form.user_last_name.label(class="text-muted control-label") }}-->
                                {{ form.user_last_name(class="form-control", value=current_user.user_last_name) }}
                                {% else %}
                                {{ form.user_last_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <!--Фамилия - само поле конец-->
                        </div>
                        <!--Фамилия - конец-->

                        <!--Имя - начало-->
                        <div class="col-6 pr-2">
                            <!--Имя - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.user_first_name.errors %}
                                {% for err in form.user_first_name.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Имя - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Имя - само поле начало-->
                            <div class="pt-2">
                                <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                                {% if current_user.user_first_name %}
                                {{ form.user_first_name(class="form-control", value=current_user.user_first_name) }}
                                {% else %}
                                {{ form.user_first_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <!--Имя - само поле конец-->
                        </div>
                        <!--Имя - конец-->

                        <!--Отчество - начало-->
                        <div class="col-6 pl-2">
                            <!--Отчество - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.user_middle_name.errors %}
                                {% for err in form.user_middle_name.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Отчество - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Отчество - само поле начало-->
                            <div class="pt-2">
                                {% if current_user.user_middle_name %}
                                <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                                {{ form.user_middle_name(class="form-control", value=current_user.user_middle_name)
                                }}
                                {% else %}
                                {{ form.user_middle_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <!--Отчество - само поле конец-->
                        </div>
                        <!--Отчество - конец-->
                    </div>
                    <!--ФИО - конец-->
                    <!--Контактные данные - конец-->


                    <!--Адрес доставки - начало-->

                    <!--Заголовок Адрес доставки - начало-->
                    <h6 class="pt-4">2. Адрес доставки:</h6>
                    <!--Заголовок Адрес доставки - начало-->

                    <!--Регион, Район, Населенный пункт доставки - начало-->
                    <div class="row">
                        <!-- Регион доставки- начало-->
                        <div class="col-6 pr-2">
                            <!--Регион доставки - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-1">
                                {% if form.email.errors %}
                                {% for err in form.email.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!-- Регион доставки- вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Регион доставки - само поле начало-->
                            <div class="pt-1">
                                {{ form.region.label(class='small mb-0') }}
                                {{ form.region(class="form-control") }}
                            </div>
                            <!-- Регион доставки- само поле конец-->
                        </div>
                        <!--Регион доставки - конец-->

                        <!--Район доставки - начало-->
                        <div class="col-6 pl-2">
                            <!--Район доставки - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-1">
                                {% if form.area.errors %}
                                {% for err in form.area.errors %}
                                <p class="error alert alert-warning" role="alert">
                                    {{ err }}
                                </p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Район доставки - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Район доставки - само поле начало-->
                            <div class="pt-1">
                                {{ form.area.label(class='small mb-0') }}
                                {{ form.area(class="form-control") }}
                            </div>
                            <!--Район доставки - само поле конец-->
                        </div>
                        <!--Район доставки - конец-->

                        <!-- Населенный пункт- начало-->
                        <div class="col-12 pr-2">
                            <!--Населенный пункт - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-1">
                                {% if form.punkt.errors %}
                                {% for err in form.punkt.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!-- Населенный пункт- вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Населенный пункт - само поле начало-->
                            <div class="pt-1">
                                {{ form.punkt.label(class='small mb-0') }}
                                {{ form.punkt(class="form-control") }}
                            </div>
                            <!-- Населенный пункт- само поле конец-->
                        </div>
                        <!--Населенный пункт - конец-->

                    </div>
                    <!--Регион, Район, Населенный пункт доставки - конец-->


                    <!--Улица, Номер дома, Номер квартиры - начало-->
                    <div class="row">
                        <!--Тип улицы - начало-->
                        <div class="col-4 pr-2">
                            <!--Тип улицы - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.type_street.errors %}
                                {% for err in form.type_street.errors %}
                                <p class="error alert alert-warning" role="alert">
                                    {{ err }}
                                </p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Тип улицы - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Тип улицы - само поле начало-->
                            <div class="pt-2">
                                {{ form.type_street.label(class='small mb-0') }}
                                {{ form.type_street(class="form-control") }}
                            </div>
                            <!--Тип улицы - само поле конец-->
                        </div>
                        <!--Тип улицыt - конец-->
                        <!--Улица - начало-->
                        <div class="col-8 pl-2">
                            <!--name_street - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.name_street.errors %}
                                {% for err in form.name_street.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--name_street - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--name_street - само поле начало-->
                            <div class="pt-2">
                                {{ form.name_street.label(class='small mb-0') }}
                                {{ form.name_street(class="form-control") }}
                            </div>
                            <!--name_street - само поле конец-->
                        </div>
                        <!--Улица - конец-->

                        <!--Номер дома - начало-->
                        <div class="col-6 pr-2">
                            <!--Номер дома - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-1">
                                {% if form.house_number.errors %}
                                {% for err in form.house_number.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Номер дома - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Номер дома - само поле начало-->
                            <div class="pt-1">
                                {{ form.house_number.label(class='small mb-0') }}
                                {{ form.house_number(class="form-control") }}
                            </div>
                            <!--Номер дома - само поле конец-->
                        </div>
                        <!--Номер дома - конец-->

                        <!--Номер квартиры - начало-->
                        <div class="col-6 pl-2">
                            <!--Номер квартиры - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-1">
                                {% if form.apartment.errors %}
                                {% for err in form.apartment.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Номер квартиры - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Номер квартиры - само поле начало-->
                            <div class="pt-1">
                                {{ form.apartment.label(class='small mb-0') }}
                                {{ form.apartment(class="form-control") }}
                            </div>
                            <!--Номер квартиры - само поле конец-->
                        </div>
                        <!--Номер квартиры - конец-->

                    </div>
                    <!--Улица, Номер дома, Номер квартиры - конец-->

                    <!--Адрес доставки - конец-->


                    <!--Тип плательщика - начало-->
                    <div class="col-12">
                        <h6 class="pt-4">2. Тип плательщика:</h6>
                        <!--class="list-unstyled" убирает ненужные точки в начале строки в списке-->
                        <!--радиокнопок, т.к. в типе RadioField поля form.user_organization используются теги -->
                        <!--<ul><li></li></ul> которые задают эти точки по умолчанию-->
                        <div class="pt-2">
                            <!-- {{ form.types_payer.label(class="text-muted control-label") }}-->
                            {{ form.types_payer(class="list-unstyled text-muted") }}
                        </div>
                    </div>
                    <!--Тип плательщика - конец-->

                </div>

                <div class="col-6">
                    <!--Заголовок способ доставки - начало-->
                    <h6 class="pt-3">3. Способ доставки:</h6>
                    <!--Заголовок способ доставки - начало-->

                    <!--способ доставки - начало-->
                    <div class="row">
                        <div class="col-12">
                        <!--class="list-unstyled" убирает ненужные точки в начале строки в списке-->
                        <!--радиокнопок, т.к. в типе RadioField поля form.user_organization используются теги -->
                        <!--<ul><li></li></ul> которые задают эти точки по умолчанию-->
                        <div class="pt-2">
                            <!-- {{ form.types_payer.label(class="text-muted control-label") }}-->
                            {{ form.delivery_method(class="list-unstyled text-muted") }}
                        </div>
                    </div>
                    </div>
                    <!--способ доставки - конец-->

                    <div class="row">
                        <!--email - начало-->
                        <div class="col-6 pr-2">
                            <!--email - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.email.errors %}
                                {% for err in form.email.errors %}
                                <p class="error alert alert-warning" role="alert">{{ err }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--email - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--email - само поле начало-->
                            <div class="pt-2">
                                {% if current_user.email %}
                                <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                                {{ form.email(class="form-control", value=current_user.email) }}
                                {% else %}
                                {{ form.user_middle_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <!--email - само поле конец-->
                        </div>
                        <!--email - конец-->

                        <!--Телефон - начало-->
                        <div class="col-6 pl-2">
                            <!--Телефон - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                            <div class="pt-2">
                                {% if form.user_phone.errors %}
                                {% for err in form.user_phone.errors %}
                                <p class="error alert alert-warning" role="alert">
                                    {{ err }}
                                </p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--Телефон - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                            <!--Телефон - само поле начало-->
                            <div class="pt-2">
                                <!--класс бутстреп text-muted делает текст более бледным чем черный (серым)-->
                                <!--                                    {{ form.user_phone.label(class="text-muted control-label") }}-->
                                {{ form.user_phone(class="form-control") }}
                            </div>
                            <!--Телефон - само поле конец-->
                        </div>
                        <!--Телефон - конец-->
                    </div>
                </div>

            </div>
            <!--Страница оформления заказа - вариант 1 - конец-->


            <!--Страница оформления заказа - вариант 2 - начало-->
            <div class="row pt-4">
                <div class="col-6">
                    <div class="px-3 mt-5 border border-success">

                        <h6 class="pt-3">1. Контактные данные:</h6>
                        <!--email - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                        <div class="pt-0">
                            {% if form.email.errors %}
                            {% for err in form.email.errors %}
                            <p class="error alert alert-warning" role="alert">{{ err }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!--email - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                        <!--email - начало-->
                        <div class="pt-0">
                            {% if current_user.email %}
                            <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                            {{ form.email(class="form-control", value=current_user.email) }}
                            {% else %}
                            {{ form.user_middle_name(class="form-control") }}
                            {% endif %}
                        </div>
                        <!--email - конец-->

                        <!--Вывод ошибок:-->
                        <!--Ошибки можем сформировать разными способами:-->
                        <!--1) валидация, кот. делаем внутри формы, с помощью валидаторов формы
                        (встроенных и валидаторов, задаваемых в функции validate_user_phone.
                        Имя такой функции формируется так: validate_имя валидируемого поля
                        В ней можем задать свои сообщения валидатора.)
                        При использовании встроенных валидаторов появляются стандартные сообщения,
                        кот. заданы в браузерах (могут немного отличаться)
                        Если задано в параметрах валидатора собственные message - появятся они!!!-->
                        <!--2) условия, кот. накладываем на данные внутри роута и передаем на стр. с помощью переменных            -->
                        <!--Затем на стр. выводим ошибки и 1) и 2)-->

                        <!--Вывод ошибок, формируемых внутри роута (п.2) (если такие заданы), кот. рендерит эту стр. - начало-->
                        {% if err %}
                        <div class="alert alert-warning" role="alert">
                            {{ err }}
                        </div>
                        {% endif %}
                        <!--Вывод ошибок, формируемых внутри роута (п.2), кот. рендерит эту стр. - конец-->


                        <!--Телефон - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                        {% if form.user_phone.errors %}
                        {% for err in form.user_phone.errors %}
                        <p class="error alert alert-warning" role="alert">
                            {{ err }}
                        </p>
                        {% endfor %}
                        {% endif %}
                        <!--Телефон - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                        <!--Телефон - начало-->
                        <div class="pt-3">
                            <!--класс бутстреп text-muted делает текст более бледным чем черный (серым)-->
                            {{ form.user_phone.label(class="text-muted control-label") }}
                            {{ form.user_phone(class="form-control") }}
                        </div>
                        <!--Телефон - конец-->

                        <!--Фамилия - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                        <div class="pt-2">
                            {% if form.user_last_name.errors %}
                            {% for err in form.user_last_name.errors %}
                            <p class="error alert alert-warning" role="alert">{{ err }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!--Фамилия - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->


                        <!--Фамилия - начало-->
                        <div class="pt-2">
                            {% if current_user.user_last_name %}
                            <!--{{ form.user_last_name.label(class="text-muted control-label") }}-->
                            {{ form.user_last_name(class="form-control", value=current_user.user_last_name) }}
                            {% else %}
                            {{ form.user_last_name(class="form-control") }}
                            {% endif %}
                        </div>
                        <!--Фамилия - конец-->


                        <!--Имя - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                        <div class="pt-2">
                            {% if form.user_first_name.errors %}
                            {% for err in form.user_first_name.errors %}
                            <p class="error alert alert-warning" role="alert">{{ err }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!--Имя - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                        <!--Имя - начало-->
                        <div class="pt-2">
                            <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                            {% if current_user.user_first_name %}
                            {{ form.user_first_name(class="form-control", value=current_user.user_first_name) }}
                            {% else %}
                            {{ form.user_first_name(class="form-control") }}
                            {% endif %}
                        </div>
                        <!--Имя - конец-->

                        <!--Отчество - вывод ошибок, формируемых на основе валидаторов формы (п.1) - начало-->
                        <div class="pt-2">
                            {% if form.user_middle_name.errors %}
                            {% for err in form.user_middle_name.errors %}
                            <p class="error alert alert-warning" role="alert">{{ err }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!--Отчество - вывод ошибок, формируемых на основе валидаторов формы (п.1) - конец-->

                        <!--Отчество - начало-->
                        <div class="pt-2">
                            {% if current_user.user_middle_name %}
                            <!--{{ form.user_first_name.label(class="text-muted control-label") }}-->
                            {{ form.user_middle_name(class="form-control", value=current_user.user_middle_name) }}
                            {% else %}
                            {{ form.user_middle_name(class="form-control") }}
                            {% endif %}
                        </div>
                        <!--Отчество - конец-->


                        <div class="pt-3">Для расчета стоимости доставки укажите адрес и способ доставки:</div>
                        <h6 class="pt-3">Адрес доставки:</h6>
                        <h6 class="pt-3">Способ доставки:</h6>
                        <h6 class="pt-3">Стоимость доставки:</h6>
                        <h6 class="pt-3">Оплата:</h6>

                        <div class="pt-3">
                            {{ form.user_consent() }}
                            {{ form.user_consent.label(class="text-muted control-label") }}
                            <div>
                                <a href="">Соглашение о персональных данных</a>
                            </div>
                        </div>

                        <!--Кнопка сохранить - с классом form-control-->
                        <div class="pt-5 pb-3">
                            {{ form.submit(class="form-control btn btn-success") }}
                        </div>
                        <!--Кнопка сохранить - без класса form-control-->
                        <!--<div class="pt-3">                                -->
                        <!--{{ form.submit(class="btn btn-success") }}-->
                        <!--</div>-->

                    </div>
                </div>

            </div>
            <!--Страница оформления заказа - вариант 2 - конец-->

        </form>

    </div>
</main>
{% endblock %}

 <!--Эти вводы управляются плагином jquery.maskedinput, скрипты находятся в base.html - начало-->
<!--https://webstool.ru/jquery.maskedinput.html-->
<!--https://github.com/digitalBush/jquery.maskedinput-->
<!--http://web-verstka.ru/verstka-sajta/elementyi-sajta/maska-vvoda-telefona.-jquery-mask-plugin.html-->
<!--https://snipp.ru/jquery/masked-input-->
<!--<input placeholder="Ваш телефон:" id="phone" type="text" />-->
<!--<input placeholder="+7(___)___-__-__" id="phone_1" type="text" />-->
<!--<input class=form-control placeholder="+7(___)___-__-__" id="phone_2" type="text" />-->
<!--<input class=form-control placeholder="+7(___)___-__-__" id="phone_4" type="text" />-->
<!--<input placeholder="Ваш телефон:" id="phone_3" type="text" />-->
<!--<input placeholder="Дата day/month/year" id="date" type="text" />-->
<!--Эти вводы управляются плагином jquery.maskedinput см base.html - конец-->