.cookie-form {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    /*opacity: 0.5;*/
    height: 85px;
    width: 100%;
    border-color: white;
    border-width: 2px;
    margin: 8px;
    padding: 7px;
    font-size: 15px;
}

#cookies-success {
    font-size: 13px;
    color: white;
}