<!--берем базовый шаблон из flask-admin/templates и изменяем его, добавляя свои элементы-->
{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} -
        {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
    <!--Кастомизация стилей админки-->
    <!--Добавляем наш фавикон-->
    <link rel="icon" href="/static/images/logo-favicon2.png">
    <!--Добавляем фавикон-конец-->

    <!--Подключаем шрифты Roboto и Fira+Sans c сайта https://fonts.googleapis.com
    Для этого заходим на сайт https://fonts.google.com, выбираем шрифт. нажимаем на + справа появляется код,
    вставляем в сайт-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap">
    <!--<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">
    <!--Подключаем шрифты Roboto и Fira+Sans - конец-->


    <!--Базовый кусок-->
    <!--В этой строке задается тема оформления админ панели.
     Чтобы заменить ее на другую надо в файле config.py нашего проекта
     определить глобальную переменную FLASK_ADMIN_SWATCH = 'значение'(например cosmo-название темы
      # Значение - это название папки с темой в каталоге
      # env/Lib/site-packages/flask-admin/static/bootstrap/bootstrap4(или 3,2)/swatch/название темы-->
    <!--меня устраивает тема 'default'-->

    <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='4.2.1') }}"
          rel="stylesheet">
    {% if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/css/bootstrap.min.css', v='4.2.1') }}"
          rel="stylesheet">
    {% endif %}
    <link href="{{ admin_static.url(filename='admin/css/bootstrap4/admin.css', v='1.1.1') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap4/css/font-awesome.min.css', v='4.7.0') }}"
          rel="stylesheet">
    {% if admin_view.extra_css %}
    {% for css_url in admin_view.extra_css %}
    <link href="{{ css_url }}" rel="stylesheet">
    {% endfor %}
    {% endif %}
    <!--Базовый кусок - конец-->

    <!--добавляем наш шрифт
    <!--Базовый кусок - только .hide-->
    <!--класс .my_body используется в файле index.html для задания зеленого фона для примера-->
    <!--#nav-plashka2 {-->
    <!--line-height: 1; /*изменяю расстояние в navbar (по умолчанию 1.5) между строками, кот. образуются при сворачивании в 2 строки на маленьких экранах*/-->
    <!--height: 50px; /*изменяю ширину плашки navbar (по умолчанию ?)*/-->
    <!--background-color: #ace807; /*устанавливаю цвет плашки navbar (по умолчанию navbar-light белый? фон синие буквы)*/-->
    <!--}-->
    <style>
        .hide {
        display: none;
        }
        .my_body {
        background-color: green;
        color: white;
        }
        body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        }

        #nav-plashka2 {
        line-height: 1;
        height: 50px;
        background-color: #ace807;
        }
    </style>
    <!--добавляем cвои стили - конец-->

    <!--Базовый кусок-->
    {% endblock %}
    {% block head %}
    <!--Базовый кусок - конец-->

    <!--Добавляем наши стили для своих данных-->
    <link href="/static/css/my.css" rel="stylesheet">
    <!--Добавляем наши стили для своих данных - конец-->

    <!--Базовый кусок-->
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
</head>
<body>
{% block page_body %}
<!--Базовый кусок - конец-->

<!--Добавляем собственные данные  вверху админ панели из своего файла my_header.html-->
{% include 'admin/my_header.html' %}
<!--Добавляем собственные данные  вверху админ панели - конец-->

<!--Базовая-->

<!--Если в файле config.py задать FLASK_ADMIN_FLUID_LAYOUT = True то ВСЯ!!! админка будет на ширину экрана-->
<!--благодаря строке <div class="container{% if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}">-->
<!--если задать FLASK_ADMIN_FLUID_LAYOUT = False, то будет в контейнере-->
<!--Я задала в файле config.py FLASK_ADMIN_FLUID_LAYOUT = True, т.к.инфо много и она не умещается!-->
<!--p-0 задала чтобы плашка в container-Fluid была на всю ширину экрана, -->
<!--тк без этого есть справа и слева небольшие отступы-->
<div class="container{% if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %} p-0">

    <!--Для изменения цвета плашки админ-панели меняю navbar-dark bg-dark  на navbar-light id="nav-plashka2" как на главной странице -->
    <nav class="navbar navbar-expand-lg navbar-light mb-2" id="nav-plashka2" role="navigation">
        <!--Для изменения цвета плашки админ-панели меняю - конец -->

        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">

            {% block brand %}
            <a class="navbar-brand" href="{{ admin_view.admin.url }}">
                {{ admin_view.admin.name }}
            </a>
            {% endblock %}

            {% block main_menu %}
            <ul class="navbar-nav mr-auto">
                {{ layout.menu() }}
            </ul>

            {% endblock %}

            {% block menu_links %}
            <ul class="nav navbar-nav navbar-right">
                {{ layout.menu_links() }}
            </ul>
            {% endblock %}
            {% block access_control %}
            {% endblock %}
        </div>
    </nav>

    {% block messages %}
    {{ layout.messages() }}
    {% endblock %}

    {# store the jinja2 context for form_rules rendering logic #}
    {% set render_ctx = h.resolve_ctx() %}

    {% block body %}
    {% endblock %}
</div>
{% endblock %}

{% block tail_js %}

<!--Мой кусок - начало-->
<!--Это интеграция в flask-admin CKEditor-->
<!--Включить ресурсы CKEditor для вставки в поле ввода редактор-->
<!--поля форм CKEditorField (например comments = CKEditorField("Сопроводительный текст"))-->
<!--https://flask-ckeditor.readthedocs.io/en/latest/basic.html-->
<!--CKEditor предоставляет пять типов установок (см. сравнительную таблицу для различий):-->
<!--basic, standard(значение по умолчанию), full, standard-all(доступно только из CDN)-->
<!--full-all(доступно только из CDN)-->
<!--Сравнительная таблица см. https://ckeditor.com/cke4/presets-all-->
<!--Выбрала basic, тк мне нужно только редактирование по абзацам, болд, италик, ссылки.-->
<!--Другие фукции здесь пока не нужны(загрузка изображений, цвет и тд)-->
{{ ckeditor.load(pkg_type="basic") }}
{{ ckeditor.config(name='comments_1') }}
{{ ckeditor.config(name='comments_2') }}
{{ ckeditor.config(name='comments_3') }}
{{ ckeditor.config(name='comments_4') }}
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>-->
<!--Мой кусок - конец-->

<script src="{{ admin_static.url(filename='vendor/jquery.min.js', v='2.1.4') }}" type="text/javascript"></script>
<script src="{{ admin_static.url(filename='bootstrap/bootstrap4/js/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ admin_static.url(filename='bootstrap/bootstrap4/js/bootstrap.min.js', v='4.2.1') }}"
        type="text/javascript"></script>
<script src="{{ admin_static.url(filename='vendor/moment.min.js', v='2.9.0') }}" type="text/javascript"></script>
<script src="{{ admin_static.url(filename='vendor/bootstrap4/util.js', v='4.3.1') }}" type="text/javascript"></script>
<script src="{{ admin_static.url(filename='vendor/bootstrap4/dropdown.js', v='4.3.1') }}"
        type="text/javascript"></script>
<script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='4.2.1') }}"
        type="text/javascript"></script>
<script src="{{ admin_static.url(filename='vendor/multi-level-dropdowns-bootstrap/bootstrap4-dropdown-ml-hack.js') }}"
        type="text/javascript"></script>
<script src="{{ admin_static.url(filename='admin/js/helpers.js', v='1.0.0') }}" type="text/javascript"></script>

{% if admin_view.extra_js %}
{% for js_url in admin_view.extra_js %}
<script src="{{ js_url }}" type="text/javascript"></script>
{% endfor %}
{% endif %}
{% endblock %}

{% block tail %}

<!--Добавляем наш собственный футер-->
{% include 'admin/my_footer.html' %}
<!--Добавляем наш собственный футер - конец-->

{% endblock %}
</body>
</html>
