{% extends 'base.html' %}
{% block container %}
</head>

<body>
<main class="container">
    <form class="pt-3" action="/login/" method="POST">
        {{ form.csrf_token }}
        {% if err %}
                <div class="alert alert-warning" role="alert">{{ err }}</div>
                {% endif %}
        <div class="text-center">
            <h3 class="mb-3 font-weight-normal">Отредактируйте настройки</h3>
        </div>
        <div class="text-left mt-5 b-1">
            <h5 class="mb-3 font-weight-normal">Выберите роль ......</h5>
            <h5 class="mb-5 font-weight-normal">Выберите модель ......</h5>
            <h1 class="h5 mb-3 font-weight-normal">1. Настройки доступа</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-label-group">
                    <div class="row mb-1">
                        <div class="col-5 mt-1">
                            {{ form.can_edit.label(class="text-muted") }}
                        </div>
                        <div class="col-1">
                            {{ form.can_edit(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-5 mt-1">
                            {{ form.can_delete.label(class="text-muted") }}
                        </div>
                        <div class="col-1">
                            {{ form.can_delete(class="form-control") }}
                        </div>
                    </div>

                      <div class="row mb-1">
                        <div class="col-5 mt-1">
                            {{ form.can_create.label(class="text-muted") }}
                        </div>
                        <div class="col-1">
                            {{ form.can_create(class="form-control") }}
                        </div>
                    </div>

                    <div class="text-left mt-5 b-1">
                        <h1 class="h5 mb-3 font-weight-normal">1. Настройки внешнего вида</h1>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5 mt-1">
                            {{ form.columns.label(class="text-muted") }}
                        </div>
                        <div class="col-2">
                            {{ form.columns(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-5 mt-1">
                            {{ form.any.label(class="text-muted") }}
                        </div>
                        <div class="col-2">
                            {{ form.any(class="form-control") }}
                        </div>
                    </div>

                    <div class="checkbox mb-3">
                    </div>

                </div>
            </div>
        </div>


        <button class="btn btn-lg btn-danger btn-block mb-5" type="submit">Сохранить</button>
    </form>
</main>

{% endblock %}