<footer>
    <div class="container-fluid">

        <div class="container footer-fon">
            <div class="row pt-4 text-light">
                <!-- <div class="visible-xs-inline-block">
                     Блок для маленьких экранов
                 </div>-->
                <div class="col-md-4">
                    Информ Центр
                    <div>г. Тверь, Вагжановский пер., д.9</div>
                    <div>тел.: 8 (4822) 34-12-26</div>
                    <div>e-mail: buminfo1@mail.ru</div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>Штендеры</li>
                                <li>Баннеры</li>
                                <li>Наклейки</li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Реклама</li>
                                <li>Листовки</li>
                                <li>Плакаты</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>Услуги</div>
                    <div>О нас</div>
                    <div>Портфолио</div>
                </div>
                <div class="col-md-2">
                    <div>Партнеры</div>
                    <div>Сотрудничество</div>
                    <div>Доставка</div>

                </div>
                <div class="col-md-4 text-right">
                    <div>Полезные ссылки</div>
                    <ul class="list-unstyled mb-0">
                        <li class="nav-item">
                            <!--Атрибут data-toggle="tooltip" создает подсказку при наведении на элемент
                            title - атрибут для указания текста, который должен отображаться в подсказке
                            data-placement="top" - атрибут указывает положение всплывающей посказки (top, bottom, left, right)
                            Примечание: Подсказки должны быть инициализированы с помощью jQuery:
                            выберите указанный элемент и вызовите tooltip() метод Пример:
                            <script>
                            $(document).ready(function(){
                            $('[data-toggle="tooltip"]').tooltip();
                             });
                            </script>-->
                            <!--Этот код вставляем перед </body> включая таким образом все подсказки-->
                            <div>аиявипаявияв</div>
                            <!--<a class="nav-link" href="/newspaper/" data-toggle="tooltip" data-placement="bottom"-->
                               <!--title="Парсинг с помощью библиотеки newspaper">Newspaper</a>-->
                        </li>
                        <li class="nav-item">
                            <div>аиявипаявияв</div>
                            <!--<a class="nav-link" href="/BeatifulSoap/" data-toggle="tooltip" data-placement="bottom"-->
                               <!--title="Парсинг с помощью библиотеки BeatifulSoap">BeatifulSoap</a>-->
                        </li>
                        <li class="nav-item">
                            <div>аиявипаявияв</div>
                            <!--<a class="nav-link" href="/pandas/" data-toggle="tooltip" data-placement="bottom"-->
                               <!--title="Парсинг с помощью библиотеки Pandas">Pandas</a>-->
                        </li>
                    </ul>
                    <p id="demo-gradus" class="text-center"></p>
                    <div>Социальные сети</div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow"
                             class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

