<!--Хлебные крошки  на основе базы данных (навигационные цепочки)-->
<ol class="breadcrumb breadcrumb-new px-0">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item active">{{ link.title }}</li>
</ol>
<!--Хлебные крошки на основе базы данных (навигационные цепочки)-конец-->


	<!--&lt;!&ndash;Хлебные крошки  на основе JSON (навигационные цепочки)&ndash;&gt;-->
	<!--<ol class="breadcrumb breadcrumb-new">-->
		<!--<li class="breadcrumb-item"><a href="/">Главная</a></li>-->
		<!--<li class="breadcrumb-item active">-->
			<!--{% for link in links %}-->
			<!--{% if link.link == punkt_menu %}-->
			<!--{{ link.title }}-->
			<!--{% endif %}-->
			<!--{% endfor %}-->
		<!--</li>-->
	<!--</ol>-->
	<!--&lt;!&ndash;Хлебные крошки на основе JSON (навигационные цепочки)-конец&ndash;&gt;-->