{% extends 'base.html' %}
{% block container %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5 class="mt-5">Шапка (header(1)):</h5>
                <h6>Mеста 1/...</h6>
                <br>
                <h5 class="mt-5">Тело (body(2)):</h5>
                <h6>Mеста 2/...</h6>
                <br>
                <h5 class="mt-5">Подвал (footer(3)):</h5>
                <h6>Mеста 3/...</h6>
            </div>
            <div class="col-9">
                <img class="container-fluid" src="/static/images/place4.jpg" weight="1500">
            </div>
        </div>
    </div>
</main>
{% endblock %}