{% extends 'base.html' %}
{% block container %}


<div class="container">
		<!--class="row" - создаст сетку с тем кол-вом колонок которые заданы в col-2(col-4) и тп (всего 12)-->
	<div class="row">
		<!-- first column -->
		<div class="col-sm pb-3">
			<!-- column content here -->
			<div class="card">
				<div class="card-header mb-0">Товар1</div>
				<div class="card-body  py-0">
					<a href="#">
						<img class="img-fluid rounded" src="/static/pictures/2.jpg" alt="">
					</a>
				</div>
				<div class="card-footer">
					<p>
						Описание Товара 1
					</p>
					<button class="btn btn-success"> $199></button>
				</div>
			</div>


		</div>

		<!-- first column -->
		<div class="col-sm pb-3">

			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/4.jpg" alt="">
			</a>
			<h3 class="text-center mb-2">Фото 2</h3>
			<p>
				Описание продукта 2
			</p>
			<button class="btn btn-success">$299></button>

		</div>

		<!-- first column -->
		<div class="col-sm pb-3">

			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/2.jpg" alt="">
			</a>
			<h3 class="text-center mb-2">Фото 3</h3>
			<p>
				Описание продукта 3
			</p>
			<button class="btn btn-success">$399></button>

		</div>
		<div class="col-sm pb-3">

			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/2.jpg" alt="">
			</a>
			<h3 class="text-center mb-2">Фото 4</h3>
			<p>
				Описание продукта 4
			</p>
			<button class="btn btn-success">$399></button>

		</div>

	</div>

	<!--class="row" - создаст сетку с тем кол-вом колонок которые заданы в col-2(col-4) и тп (всего 12)-->
	<div class="row">
		<!-- first column -->
		<div class="col-sm pb-3">
			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/2.jpg" alt="">
			</a>
			<h3 class="display-4">Фото 1</h3>
			<p class="display-4">
				Описание продукта 1
			</p>
			<button class="btn btn-success"> $199></button>

		</div>

		<!-- first column -->
		<div class="col-sm pb-3">

			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/4.jpg" alt="">
			</a>
			<h3 class="text-center mb-2">Фото 2</h3>
			<p>
				Описание продукта 2
			</p>
			<button class="btn btn-success">$299></button>

		</div>

		<!-- first column -->
		<div class="col-sm pb-3">

			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/2.jpg" alt="">
			</a>
			<h3 class="text-center mb-2">Фото 3</h3>
			<p>
				Описание продукта 3
			</p>
			<button class="btn btn-success">$399></button>

		</div>
		<div class="col-sm pb-3">

			<!-- column content here -->
			<a href="#">
				<img class="img-fluid mx-auto d-block mt-4 mb-2 rounded" src="/static/pictures/2.jpg" alt="">
			</a>
			<h3 class="text-center mb-2">Фото 4</h3>
			<p>
				Описание продукта 4
			</p>
			<button class="btn btn-success">$399></button>

		</div>

	</div>
</div>


{% endblock %}