
                        <!--<div class="pt-2"><b>-->
                            <!--{{ form_create_card_usluga.dir_photos.label(class="text-success") }}-->

                        <!--</b></div>-->
                        <!--<div class="text-muted">-->
                            <!--Внимание! <br>-->
                            <!--Для каждой карточки услуг создается своя директория для загрузки изображений.<br>-->
                            <!--Имя директории загрузки должо быть <b>уникальным</b>,-->
                            <!--задано только <b>латинскими</b> строчными буквами-->
                            <!--и содержать не более <b>8 символов</b>!-->

                        <!--</div>-->
                        <!--{% for err in form_create_card_usluga.dir_photos.errors %}-->
                        <!--<div class="text-danger"><b>{{ err }}</b></div>-->
                        <!--&lt;!&ndash;<p class="error alert alert-warning">{{ err }}</p>&ndash;&gt;-->
                        <!--{% endfor %}-->

                        <!--<div>-->
                            <!--{{ form_create_card_usluga.dir_photos(class=" form-control container-fluid mt-2 mb-3") }}-->
                        <!--</div>-->

                        <!--<div class="pt-2"><b>-->
                            <!--{{ form_create_card_usluga.number_foto.label(class="text-success") }}-->
                        <!--</b></div>-->
                        <!--<div class="text-muted">-->
                            <!--Внимание! Не более 20!-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--{{ form_create_card_usluga.number_foto(class=" form-control container-fluid py-1 mt-2 mb-2") }}-->
                        <!--</div>-->