{% extends 'base.html' %}
{% block container %}
<main>
    <div class="container-fluid px-5">
        <!--Навигационные ссылки вар 1 - начало-->
        <!--<div class="row pt-1 pb-4">
        <div class="col-4">
        <a href="{{ url_for('admin.index') }}">
        Вернуться в панель администратора
        </a>
        </div>
        <div class="col-4">
        <a href="{{ url_for('card_usluga_bp.show_cards_uslugs') }}">Вернуться к карточкам услуг</a>
        </div>
        </div>-->
        <!--Навигационные ссылки вар 1 - конец-->

        <!-- Навигационные ссылки вар 2 - начало-->
        <!--<div class="row pt-1 pb-4">
        <div class="col-6">
        class="d-flex см https://bootstrap-4.ru/docs/4.0/utilities/flex/&ndash;&gt;
        <div class="d-flex justify-content-between">
        <a href="{{ url_for('admin.index') }}">
        Вернуться в панель администратора
        </a>
        <a href="{{ url_for('card_usluga_bp.show_cards_uslugs') }}">
        Вернуться к карточкам услуг</a></div></div>
        </div>-->
        <!--Навигационные ссылки вар 2- конец-->

        <!--Навигационные ссылки вар 3 - начало
        Самый короткий и самый адаптивный, визуально приятный и складный вариант.
        Далее наверное нужно использовать его!
        class="d-flex flex-row" https://bootstrap-4.ru/docs/4.0/utilities/flex/-->
        <div class="d-flex flex-row pt-2 pb-4">

            <a class="pl-4" href="{{ url_for('card_usluga_bp.edit_card_usluga', card_usluga_id=card_usluga.id) }}">
                Вернуться к редактированию карточки
            </a>
            <a class="pl-4"
               href="{{ url_for('card_usluga_bp.specifications', card_usluga_id=card_usluga.id) }}">
                Вернуться к спецификациям карточки
            </a>
            <a class="pl-4"
               href="{{ url_for('card_usluga_bp.intermediate_specifications',
               card_usluga_id=card_usluga.id,
               status_card_id=status_card.id) }}">
                Вернуться к промежуточным спецификациям
            </a>
        </div>
        <!--Навигационные ссылки вар 3- конец-->



        <h5 class="base_color_1 pb-3">Отредактируйте спецификацию</h5>
        <!--Выравнинвание по низу-->
        <!--https://leodev.ru/blog/bootstrap/bootstrap-позиционирование-выравнивание/-->
        <!--class="row align-items-end"-->
        <div class="row align-items-end">
            <div class="col-4">
                <div class="py-2"><b>Сведения о спецификации:</b></div>
                <div>
                    Карта услуг:
                    <b class="base_color_1">
                        "{{ card_usluga }}"
                    </b>
                </div>
                <div> Основной статус:
                    <b class="base_color_1">
                        "{{ status_card }}"
                    </b>
                </div>
                <div> Промежуточный статус:
                    <b class="base_color_1">
                        "{{ specification.status_intermediate }}"
                    </b>
                </div>
                <div> Описание статуса:
                    <b class="base_color_1">
                        "{{ specification.status_intermediate.description }}"
                    </b>
                </div>
                <div> Вес статуса:
                    <b class="base_color_1">
                        "{{ specification.status_intermediate.weight }}"
                    </b>
                </div>
            </div>
            <div class="col-4">
                <form method="POST"
                      action="{{ url_for('card_usluga_bp.edit_intermediate_specification',
                          card_usluga_id=card_usluga.id,
                          specification_id=specification.id,
                          status_card_id=status_card.id) }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                   <div class="row">
                       <div class="col-3">
                           Дни:
                       </div>
                       <div class="col-9">
                        {{ form.days(class="form-control", value=specification.days_norma) }}
                        </div>
                   </div>
                    <div class="row pt-2">
                       <div class="col-3">
                           Часы:
                       </div>
                       <div class="col-9">
                        {{ form.hours(class="form-control", value=specification.hours_norma) }}
                        </div>
                   </div>
                    <div class="row pt-2">
                       <div class="col-3">
                           Минуты:
                       </div>
                       <div class="col-9">
                        {{ form.minutes(class="form-control", value=specification.minutes_norma) }}
                        </div>
                   </div>
                    <div class="row pt-2">
                       <div class="col-3">
                           Роль:
                       </div>
                       <div class="col-9">
                        {{ form.role(class="form-control") }}
                        </div>
                   </div>
                    <div class="pt-2">
                        {{ form.submit(class="form-control btn-success btn-block") }}
                    </div>
                </form>
            </div>
        </div>


    </div>
</main>

{% endblock %}