{% extends 'base.html' %}
{% block container %}
<main>
    <div class="container-fluid px-5">
        <!--Навигационные ссылки вар 1 - начало-->
        <!--<div class="row pt-1 pb-4">
        <div class="col-4">
        <a href="{{ url_for('admin.index') }}">
        Вернуться в панель администратора
        </a>
        </div>
        <div class="col-4">
        <a href="{{ url_for('card_usluga_bp.show_cards_uslugs') }}">Вернуться к карточкам услуг</a>
        </div>
        </div>-->
        <!--Навигационные ссылки вар 1 - конец-->

        <!-- Навигационные ссылки вар 2 - начало-->
        <!--<div class="row pt-1 pb-4">
        <div class="col-6">
        class="d-flex см https://bootstrap-4.ru/docs/4.0/utilities/flex/&ndash;&gt;
        <div class="d-flex justify-content-between">
        <a href="{{ url_for('admin.index') }}">
        Вернуться в панель администратора
        </a>
        <a href="{{ url_for('card_usluga_bp.show_cards_uslugs') }}">
        Вернуться к карточкам услуг</a></div></div>
        </div>-->
        <!--Навигационные ссылки вар 2- конец-->

        <!--Навигационные ссылки вар 3 - начало
        Самый короткий и самый адаптивный, визуально приятный и складный вариант.
        Далее наверное нужно использовать его!
        class="d-flex flex-row" https://bootstrap-4.ru/docs/4.0/utilities/flex/-->
        <div class="d-flex flex-row pt-2 pb-4">

            <a href="{{ url_for('card_usluga_bp.show_cards_uslugs') }}">
                Вернуться к карточкам услуг
            </a>
            <a class="pl-4" href="{{ url_for('card_usluga_bp.edit_card_usluga', card_usluga_id=card_usluga.id) }}">
                Вернуться к редактированию карточки
            </a>
            <a class="pl-4" href="{{ url_for('card_usluga_bp.specifications', card_usluga_id=card_usluga.id) }}">
                Вернуться к спецификациям
            </a>
        </div>
        <!--Навигационные ссылки вар 3- конец-->
        <h5 class="base_color_1">
            Карточка услуг "{{ card_usluga.name_card_usluga }}"
        </h5>

        <h5 class="base_color_1">
            Спецификации промежуточных статусов для статуса "{{ status_card }}"</h5>


        <ul class="list-inline">
            <li class="list-inline-item">Норматив статуса <b>"{{ status_card }}"</b>:</li>
            <li class="list-inline-item">
                <h5 class="base_color_1"> "{{ specification_status_card.normativ }}"</h5>
            </li>
        </ul>

        <div class="pt-3 text-danger">
            <b>{{ message1 }}</b>
        </div>
        <div class="text-danger">
            {{ message2 }}
        </div>
        <div class="text-danger">
            {{ message3 }}
        </div>
        <div class="pt-2 table-responsive">
            <table class="table table-reflow pb-2 ">

                <!--Заголовки столбцов таблицы - начало-->
                <thead class="base_color_1">
                <tr>
                    <th class="p-1">Вес промеж.статуса:</th>
                    <th class="p-1">Промежуточный статус:</th>
                    <th class="p-1">Описание промеж.статуса</th>
                    <th class="p-1">Норматив:</th>
                    <th class="p-1">Кто отвечает (роль):</th>
                    <th class="p-1">Действие:</th>
                    <th class="p-1">Удалить</th>
                </tr>
                </thead>
                <!--Заголовки столбцов табдлицы - конец-->

                <!--Статусы, в которых заданы нормативы - начало-->
                {% for specification in specifications %}
                <tbody>
                <tr>
                    <td class="p-1">{{ specification.status_intermediate.weight
                        }}</td>
                    <td class="p-1">{{ specification.status_intermediate.name }}</td>
                    <td class="base_color_1 p-1">{{ specification.status_intermediate.description }}</td>
                    <td class="p-1">{{ specification.normativ }}</td>
                    <td class="p-1">
                        {% if specification.role_responsible %}
                        {{ specification.role_responsible }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="p-1 pr-2">
                        <a
                          href="{{ url_for('card_usluga_bp.edit_intermediate_specification',
                          card_usluga_id=card_usluga.id,
                          specification_id=specification.id,
                          status_card_id=status_card.id) }}">
                        Редактировать
                        </a>
                    </td>
                    <td class="p-1">
                        <a
                          href="{{ url_for('card_usluga_bp.delete_intermediate_specification',
                          card_usluga_id=card_usluga.id,
                          specification_id=specification.id,
                          status_card_id=status_card.id) }}">
                        Удалить
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                <!--Статусы, в которых заданы нормативы - конец-->

                <tbody>
                <tr>
                    <td class="p-1"></td>
                    <td class="p-1"></td>
                    <td class="p-1"><b>Суммарное время нормативов:</b></td>
                    <td class="p-1"><b>{{time_intermediate_specifications_format }}</b></td>
                    <td class="p-1"></td>
                    <td class="p-1 pr-2">
                        -
                    </td>
                    <td class="p-1">
                        -
                    </td>
                </tr>
                </tbody>


                <!--Статусы, в которых не заданы нормативы - начало-->
                {% for intermediate_status in intermediate_statuses %}
                <tbody>
                <tr>
                    <td class="p-1">{{ intermediate_status.weight }}</td>
                    <td class="p-1 text-danger">{{ intermediate_status.name }}***</td>
                    <td class="p-1 base_color_1 ">{{ intermediate_status.description }}</td>
                    <td class="p-1">-</td>
                    <td class="p-1">-</td>
                    <td class="p-1">
                        <a href="{{ url_for('card_usluga_bp.create_intermediate_specification',
                          card_usluga_id=card_usluga.id,
                          status_card_id=status_card.id,
                          intermediate_status_id=intermediate_status.id) }}">
                            Создать
                        </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                <!--Статусы, в которых не заданы нормативы - конец-->
            </table>
        </div>
        {% if intermediate_statuses %}
        <div class="text-danger"><b>Внимание!</b><br>
            *** отмечены промежуточные статусы, для которых еще не созданы спецификации! <br>
            Их необходимо создать! В противном случае контроль прохождения заказ НЕ ВОЗМОЖЕН!
        </div>
        {% endif %}


    </div>
</main>

{% endblock %}