{% extends 'base.html' %}
{% block container %}


<main class="container">
	<!--Хлебные крошки  (навигационные цепочки)-->
	<ol class="breadcrumb breadcrumb-new">
		<li class="breadcrumb-item"><a href="/">Главная</a></li>
		<li class="breadcrumb-item"><a href="/poligraf/">Полиграфия</a></li>
		<li class="breadcrumb-item active">Наклейки</li>
	</ol>
	<!--Хлебные крошки  (навигационные цепочки)-конец-->

	<div class="row">
		<div class="col-4">
			Стоимость услуг
		</div>
		<div class="col-8">
			Примеры
		</div>
	</div>
</main>

{% endblock %}